/* common */
:root{
    --black: #051619;
    --orange: #ff6b00;
    --background: #eae7de;
}
::selection {background: var(--black);color: #fff;}
html{font-size: 14px;}
body{background-color: var(--background);font-family: 'Noto Sans KR', sans-serif;font-weight: 500;color: var(--black);letter-spacing: -.0125rem;line-height: 1.8;}

.d-block{display: block;}

/* common : input */
input[type="checkbox"]{position: absolute;width: 0;height: 0;opacity: 0;}
input[type="checkbox"] + label{display: flex;align-items: center;}
input[type="checkbox"] + label::before{content: "";margin-right: 8px;display: block;width: 16px;height: 16px;background-color: #fff;border: 1px solid var(--black);}
input[type="checkbox"]:checked + label::before{background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-check2" viewBox="0 0 16 16"><path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/></svg>') 15px 15px var(--black);}
/* common : btn */
.white-btn{display: block;padding: 10px 0 11px;width: 15.86rem;color: var(--black);text-align: center;background-color: #fff;border: 2px solid var(--black);border-radius: 8px;}
.white-btn:hover{color: #fff;background-color: var(--black);}
.black-btn{display: block;padding: 10px 0 11px;width: 15.86rem;color: #fff;text-align: center;background-color: var(--black);border: 2px solid var(--black);border-radius: 8px;}
.black-btn:hover{color: var(--black);background-color: #fff;}
/* common : icon */
.custom-arrow-icon{position: relative;display: inline-block;margin: 5px 0;width: 67px;height: 2px;background-color: var(--black);}
.custom-arrow-icon::before{content: '';position: absolute;right: -4px;bottom: 6px;width: 17px;height: 2px;background-color: var(--black);transform: rotate(50deg);}
.custom-arrow-icon::after{content: '';position: absolute;right: -4px;bottom: -6px;width: 17px;height: 2px;background-color: var(--black);transform: rotate(-50deg);}

/* header */
/* header : top nav */
.top-nav-wrap{border-bottom: 1px solid var(--black);}
.top-nav-wrap .top-nav-inner{position: relative;display: flex;justify-content: flex-end;align-items: center;margin: 0 auto;padding: 3rem 5% 2.5rem;max-width: 1360px;box-sizing: content-box;}
.top-nav-wrap .logo-wrap{position: absolute;left: 50%;transform: translateX(-50%);display: flex;justify-content: center;align-items: center;}
.top-nav-wrap .logo-wrap .logo-link{width: 226px;}
.top-nav-wrap .user-wrap{display: flex;}
.top-nav-wrap .user-wrap .icon-wrap{display: flex;justify-content: center;align-items: center;width: 48px;height: 48px;border: 1px solid var(--black);}
.top-nav-wrap .user-wrap .icon-wrap.user-link{margin-left: -1px;}
.top-nav-wrap .user-wrap .icon-wrap.search-link > i{font-size: 16px;}
.top-nav-wrap .user-wrap .icon-wrap.user-link > i{font-size: 25px;}

/* header : brand introduce */
.brand-wrap{position: relative;overflow: hidden;}

.brand-wrap .slogan-wrap{padding: 1rem;border-bottom: 1px solid var(--black);box-sizing: content-box;}
.brand-wrap .slogan-wrap .slogan-inner{margin: 0 auto;padding: 0 5%;width: 1200px;}
.brand-wrap .slogan-wrap .slogan-cnt{font-size: 3rem;font-weight: 700;letter-spacing: -.025rem;line-height: 1.4;}

.brand-wrap .subscribe-wrap{padding: 2rem 0 3rem;background-color: var(--orange);}
.brand-wrap .subscribe-wrap .subscribe-inner{margin: 0 auto;padding: 0 5%;width: 1200px;}
.brand-wrap .subscribe-wrap .subscribe-tit{font-size: 1.125rem;}
.brand-wrap .subscribe-wrap .subscribe-cnt{margin-top: 1rem;font-size: 1.125rem;}
.brand-wrap .subscribe-form{padding-top: 1.5rem; max-width: 452px;}
.brand-wrap .subscribe-form .subscribe-list:nth-child(n+2){margin-top: 0.5rem;}
.brand-wrap .subscribe-form .subscribe-ipt{padding: 10px 40px 11px 1.5rem;width: 100%;background-color: #fff;border: 1px solid var(--black);}
.brand-wrap .subscribe-form .subscribe-ipt::placeholder{color: #cbcbcb;}
.brand-wrap .subscribe-form .term-link{text-decoration: underline;}
.brand-wrap .subscribe-btn-wrap{display: flex;justify-content: space-between;padding-top: 32px;}
.brand-wrap .subscribe-btn-wrap .download-btn{display: flex;justify-content: center;align-items: center;}
.brand-wrap .subscribe-btn-wrap .download-btn > i{font-size: 1.5rem;line-height: 1rem;}

.brand-wrap .mascot-wrap{position: absolute;left: 50%;bottom: -9rem;margin-left: 60px;}
.brand-wrap .mascot-wrap .mascot-img{max-width: 530px;}

/* main */
.category-nav-wrap{position: sticky;top: 0;z-index: 100;background-color: #fff;border-top: 1px solid var(--black);border-bottom: 1px solid var(--black);}
.category-nav-wrap .category-nav-inner{display: flex;justify-content: center;align-items: center;}
.category-nav-wrap .category-nav-inner .category-nav-link{display: block;margin: 0 1rem;padding: 1.25rem 0;font-size: 1.125rem;}
.category-nav-wrap .category-nav-inner .category-nav-link.active{border-bottom: 2px solid #000;}

.main-contents-wrap{margin: 0 auto;padding: 0 5%;max-width: 1360px;box-sizing: content-box;}
/* article : grid version */
/* .article-wrap{display: grid;grid-template-columns: repeat(4, 1fr);border-left: 1px solid var(--black);}
.article-wrap .article-list{overflow: hidden;border: 0px solid var(--black);border-right: 1px solid var(--black);border-bottom: 1px solid var(--black);} */

/* article : flex version */
.main-contents-wrap .article-wrap{display: flex;flex-wrap: wrap;border-left: 1px solid var(--black);}
.article-wrap .article-list{overflow: hidden;width: 25%;border-right: 1px solid var(--black);border-bottom: 1px solid var(--black);}

.article-wrap .article-list:hover{background-color: #fff;}
.article-wrap .article-link .article-thumbnail{aspect-ratio: 1.3/1;}
.article-wrap .article-link .article-thumbnail > img{height: 100%;object-fit: cover;filter: grayscale(100%);}
.article-wrap .article-link:hover .article-thumbnail > img{filter: none;}
.article-wrap .article-link .article-info{padding: 1.5rem 1.75rem;}
.article-wrap .article-info .article-tit{margin: 0 0 .5rem;font-size: 1.25rem;font-weight: 700;}
.article-wrap .article-info .article-date{display: inline-block;}
.article-wrap .article-info .article-category{display: inline-block;}

.main-contents-wrap .pagination-wrap{display: flex;justify-content: center;padding: 2rem 0;}
.pagination-wrap .pagination-btn{min-width: 104px;padding: 10px 7.2rem 11px;border: 1px solid var(--black);border-radius: 8px;background-color: #fff;}
.pagination-wrap .pagination-btn:hover{background-color: var(--orange);}

.app-wrap{}
.app-wrap .app-link{display: block;margin: 14rem 0 8rem;}
.app-wrap .app-img{display: flex;justify-content: center;align-items: flex-end;height: 90px;background-color: var(--orange);border-top: 2px solid var(--black);border-bottom: 1px solid var(--black);}
.app-wrap .app-img > img{width: 300px;margin-bottom: -1px;}
.app-wrap .app-desc{padding: 1rem 0;font-size: 1.125rem;font-weight: 700;background-color: #fff;border-bottom: 2px solid var(--black);text-align: center;line-height: 2.4;}
.app-wrap .app-desc .custom-arrow-icon{margin-left: 11px;}

.rule-area{}
.rule-area .rule-cnt{position: relative;display: flex;justify-content: space-between;align-items: center;padding: 1.25rem 5%;border-top: 1px solid var(--black);font-size: 1.5rem;}
.rule-area .rule-cnt:last-child{border-bottom: 1px solid var(--black);}
.rule-area .rule-cnt:hover{background-color: #fff;}
.rule-area .subscribe-marqee{position: absolute;top: 0;left: -20%;display: none;padding: 1.25rem 0;background-color: var(--background);white-space: nowrap;}
.rule-area .subscribe-marqee > p{display: inline-block;padding-right: 50px;}
.rule-area .rule-marquee:hover .subscribe-marqee{display: block;}
.rule-area .rule-marquee:hover .subscribe-marqee > p{animation: marquee 4s linear infinite;}

/* footer */
.footer{padding: 4rem 5% 6rem;}

.sitemap-wrap{display: flex;}

.sitemap-wrap .footer-logo-wrap{width: 50%;}
.sitemap-wrap .footer-logo-wrap .footer-logo-link{display: block;max-width: 200px;}

.sitemap-wrap .footer-nav-wrap{display: flex;width: 50%;}
.footer-nav-wrap .footer-nav-lists{flex: 1;}
.footer-nav-wrap .footer-nav-lists .footer-nav-list{text-align: right;}
.footer-nav-wrap .footer-nav-list .footer-nav-link{margin-bottom: 0.5rem;line-height: 2.4;}
.footer-nav-wrap .footer-nav-list:hover .footer-nav-link{color: var(--orange);}

.company-info-wrap{margin-top: 7rem;}
.company-info-wrap .copyright{margin-top: 1rem;font-size: 12px;}

/* animation */
@keyframes marquee {
    0% {transform:translateX(0%);}
    100% {transform:translateX(100%);}
}

/* media query */
@media (max-width: 1360px) {
    .article-wrap .article-list{width: 33.333%;}
}